.smallcarditem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 320px;
  height: 380px;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  font-family: Inter;
  margin: 10px;
}

.smallcard-image {
  width: auto;
  height: 140px;
  border-bottom: 1px solid #c9c9c9;
  border-radius: 20px 20px 0 0;
  padding: 8px;
}

.smallcard-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.smallcard-text-contents {
  padding: 14px 10px 0px 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 24px;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  padding: 0 4px 0 4px;
  margin-bottom: 8px;
}

.contents {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  padding: 0 4px 0 4px;
}

.icons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.icons-div img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.icons-div span {
  display: flex;
  align-items: center;
}

.like {
  display: flex;
  align-items: center;
}

.like-count {
  padding-left: 2px;
  font-weight: 700;
}

.user-picture {
  padding: 0 8px 0 8px;
}

.smallcard-lower-contents {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 10px;
  border-top: 1px solid #c9c9c9;
}

.username {
  font-family: Inter;
  font-size: 1rem;
  padding-right: 8px;
}

.date {
  color: #585858;
}
