.longcarditem {
  display: flex;
  justify-content: space-between;
  height: 200px;
  list-style-type: none;
}

.card-image {
  width: 200px;
  background-color: #c9c9c9;
  border-radius: 0 20px 20px 0;
  object-fit: cover;
}
