.longcarditem {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.card-text {
  flex: 1;
  padding: 18px 20px 18px 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.contents {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 300;
  padding-top: 8px;
}

.tags {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  height: 30px;
  padding: 0 0 8px 0;
}

.tags ul {
  padding: 0 0 0 0;
  margin: 8px 0 0 0;
}

.tags li {
  list-style: none;
  float: left;
}

.icon-user {
  display: flex;
  justify-content: space-between;
}

.iconbutton {
  display: flex;
  align-items: center;
}

.likecount {
  margin-left: 4px;
}

.user {
  display: flex;
  align-items: center;
}

.card-image {
  display: flex;
  align-items: center;
  width: 200px;
  background-color: #c9c9c9;
  border-radius: 0 20px 20px 0;
}

.card-image img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  margin: 0 auto;
}
